@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1517px;
  height: 100%;
}

.homepage {
  width: 100%;
  /*  */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
}

.homepage .content {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://cdn.pixabay.com/photo/2016/12/16/15/25/christmas-1911637_960_720.jpg");
  background-size: 100% 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.homepage h1{
  font-size: 100px;
  font-weight: 1000;
  color: white;
}

.mission-vision {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-vision .content {
  width: 1300px;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.mission-vision .content img {
  width: 300px;
  height: 300px;
}

.mission-vision .vission {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: gray; */
}

.mission-vision .mission {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: gray; */
}

.mission-vision .info {
  width: ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.mission-vision .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.mission-vision .info h1 {
  font-style: normal;
  font-weight:bolder;
  font-size: 50px;
  line-height: 70px;
}

.mission-vision .info p {
  width: 550px;
  margin: 30px;
}

.para {
  text-align: center;
  padding: 30px;
}

.para p span{
  color: orange;
  font-weight: bolder;
}

.information{
  padding: 30px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.information .content{
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.information .content .content-info{
  margin: 20px;
}

.information .content .content-info h1{
  font-weight: 1000;
  font-size: 40px;
}

.information .content .content-info h1 span{
  color: orange;
  font-size: 20px;
}

.reviews{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews .content{
  width: 1300px;
  height: 560px;
  background-image: url("../images/rev.png");
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews .content .review-box{
  width: 400px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 110, 255, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
}

.reviews .content .review-box .avatar{
  display: flex;
  justify-content: left;
  align-items: left;

}

.reviews .content .review-box p{
  font-size: 12px;
}

.reviews .content .review-box .comment{
  font-size: 12px;
  margin: 20px 0px;
}

.reviews .content .review-box .name p{
  font-size: 8px;
}

.prev-next-button{
  width: 150px;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(0, 110, 255, 0.35) 0px 5px 15px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: white;
  padding: 8px;
}

.star i{
  color: rgb(9, 255, 0);
}

.pre,.nex{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  
}

.pre i,.nex i{
  font-size: 16px;
  cursor: pointer;
}




@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .mission-vision .info{
    background-color: white;
    box-shadow: rgba(0, 110, 255, 0.35) 0px 5px 15px;
    margin: 20px;
    padding: 10px;
    font-size: 12px;
  }

  .mission-vision .info h1 {
    font-style: normal;
    font-weight:bolder;
    font-size: 30px;
    line-height: 70px;
  }

  .mission-vision .content img {
    display: none;
    display: none;
  }

  .mission-vision .info p {
    width: 90%;
    margin: 10px;
  }

  .homepage h1{
    font-size: 50px;
    font-weight: 1000;
    color: white;
  }

  .mission-vision .info h1 {
    font-size: 25px;
  }

  .information .content .content-info h1{
    font-size: 25px;
  }

  .information .content .content-info h1 span{
    font-size: 13px;
  }

  .information .content .content-info p{
    font-size: 12px;
  }

  .reviews .content{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reviews .content .review-box{
    width: 70%;
  }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 767px){

  .mission-vision .info{
    width: 70%;
    background-color: white;
    box-shadow: rgba(0, 110, 255, 0.35) 0px 5px 15px;
    margin: 20px;



  }

  .mission-vision .info p{
    width: 90%;
  }
  .mission-vision .content{
    width: 100%;
  }

  .reviews .content{
    width: 100%;
  }

  .reviews .content{
    width: 90%;
  }

  .mission-vision .content img {
    display: none;
    display: none;
  }

}