@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.blogs-container{
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blogs-container .content{
	width: 1500px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: gray; */
}










.blogs-container .content .search-box .search-input{
	position: absolute;
	left: 100px;

}


.blogs-container .content .search-box .search-input input{
	width: 500px;
	height: 35px;
	background-color: transparent;
	border: 1px solid orange;
	/* border-radius: 25px; */
}


.blogs-container .content .search-box .search-input button{
	width: 100px;
	background-color: black;
	/* border-radius: 25px; */
	outline: none;
	border: none;
	padding: 8px;
	color: white;
	cursor: pointer;
}


.blogs-container .content .search-box .search-cities{
	position: absolute;
	right: 120px;

}

select{
	background-color: black;
	color: white;
	outline: none;
	border: none;
	padding: 8px;
}

option{
	background-color: black;
	cursor: pointer;
	color: white;
}

.main-blog-container{
	width: 1500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.main-blog-container .blog{
	width: 230px;
	height: 100%;
	margin: 20px;
	box-shadow: rgba(0, 110, 255, 0.35) 0px 5px 15px;
	padding: 8px;
}

.main-blog-container .blog p{
	font-size: 12px;
}

.main-blog-container .blog img{
	width: 100%;
}

.main-blog-submit-button{
	height: 100px;
	width: 100%;
}

.main-blog-submit-button button{
	position: absolute;
	left: 100px;
	background-color: black;
	padding: 8px;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
}